$cButton :white;
$cBullet : white;
$cTextWhite: white;
$cNavber: White;
$space-middle : 20vh;
$font-small : 2vh;
$font-middle : 3vh;
$font-large: 5vh;
$font-exlarge: 4vw;
$LHsmall : 5vh;
$LHmiddle : 7vh;
$LHlarge : 10vh;
$MGsmall : 10vh;
$MGmiddle : 15vh;
$MGlarge : 20;




